/.idea
tags

# environment files
.env
.current-hosts

# nginx conf
/conf/default.conf

# generated and storage files
/data/*
!/data/.gitignore
/dhparam/*
!/dhparam/.gitignore

### certificates
/certs/docker.test.crt
/certs/docker.test.csr
/certs/docker.test.key
/certs/rootCA.crt
/certs/rootCA.key
