/.idea
tags

# environment files
.env
.current-hosts
.last-update

# nginx conf
/conf/default.conf

# generated and storage files
/data/*
!/data/.gitignore
/dhparam/*
!/dhparam/.gitignore
/vhost.d/*
!/vhost.d/.gitignore

### certificates
/certs/*
!/certs/.gitignore
